body {
  background: #e4e8f0;
  font-family: "Helvetica";
  padding: 0;
  margin: 0;
  display: none;
}

.description {
  font-size: 2.3vw;
  margin: 1%;
}

.header {
  position: fixed;
  top: 0;
  background: #1e1e1e;
  width: 100%;
  z-index: 5;
  box-sizing: border-box;
}

.header-title {
  float: left;
  text-align: left;
  margin: 1em 0 1em 5%;
  font-size: 1.8vmax;
}

.list {
  font-size: 1.2vmax;
  margin: 2em 5% 1em 0;
  width: 50%;
  float: right;
  padding: 0;
  text-align: right;
}

.list li {
  display: inline-block;
  width: 20%;
}

.projects-list {
  position: relative;
  font-size: 2.2vmax;
  width: 100%;
  margin-top: 18vh;
  padding: 0;
  box-sizing: border-box;
}

.projects-list li {
  display: inline-block;
  margin: 0 2.5%;
}

.projects-list li a {
  color: white;
  text-decoration: none;
  transition: color .6s;
}

.projects-list li a:hover {
  color: #ff5f00;
}

.t-shadow {
  text-shadow: 5px 5px 10px #1e1e1e;
}

.jumbotron {
  position: fixed;
  background: url("../images/autumn-leaves.jpg") center center no-repeat;
  height: 100vh;
}

.b-opaque {
  position: fixed;
  top: 0;
  height: 100vh;
  background: black;
  opacity: .7;
}

.resume {
  padding: 2vh 4%;
  margin-top: 8vh;
  background: #1c2c4c;
  font-size: 1.2vmax;
  cursor: pointer;
}

.image-container {
  position: relative;
  z-index: 1;
  float: right;
  right: 5%;
  width: 50%;
  height: 32vmax;
  background: url('../images/ipad_cropped_compressed.png') no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
}

.project-image {
  position: relative;
  width: 85%;
  left:1%;
  top: 9%;
  height: 82%;
  border-radius: 3px;
}

.project-details {
  position: relative;
  float: left;
  z-index: 1;
  width: 35%;
  height: 23vmax;
  margin-top: 4%;
  left: 5%;
  font-size: 1.3vmax;
}

.p-home {
  position: absolute;
  bottom: 0;
  right: 25%;
  left: 25%;
  width: 50%;
}

.p-description {
  font-size: 1.2em;
}

.text-dec-none {
  text-decoration: none;
}

.p-title {
  margin: 0;
}

.details-container {
  position: relative;
  margin-top: 6%;
  box-sizing: border-box;
}

.p-link-container {
  position: absolute;
  margin-top: 10vh;
}

.projects-link {
  font-size: 4vh;
  color: #f1f1f1;
  text-shadow: 2px 2px 4px #1e1e1e;
}

.footer {
  position: absolute;
  bottom: 2vh;
  font-size: 2.1vh;
  width: 100%;
  text-align: center;
}