.jumbotron {
  background: url("../images/autumn-leaves-large.jpg") center center no-repeat;
  background-size: 1440px 100%;
}

@media screen and (max-width: 1200px) {
  .projects-list {
    margin-top: 18vh;
    font-size: 2.8vmax;
  }

  .image-container {
    height: 36vmax;
  }

  .p-home {
    margin-top: 3vh;
  }

  .project-details {
    margin-top: 8vh;
  }

  .header-title {
    font-size: 2.2vmax;
  }

  .list {
    font-size: 1.6vmax;
  }

  .title {
    font-size: 8vh;
  }

  .description {
    font-size: 4vh;
  }
}

@media screen and (max-width: 1025px) {
  .image-container {
    margin-top: 2%;
    height: 40vmax;
  }

  .resume {
    font-size: 1.7vmax;
  }

  .projects-link {
    font-size: 3vmax;
  }

  .project-details {
    margin-top: 10%;
  }

  .jumbotron {
    background: url("../images/autumn-leaves-medium.jpeg") center center no-repeat;
    background-size: 1025px 100%;
  }
}

@media screen and (max-width: 850px) {
  .top {
    margin-top: 35%;
  }

  .projects-list {
    margin-top: 20%;
    margin-bottom: 10%
  }

  .c-100 {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .project-details {
    float: none;
    width: 90%;
    margin: 10% auto;
    left: 0;
    font-size: 2vmax;
    height: 34vmax;
  }

  .image-container {
    float: none;
    width: 90%;
    right: 0;
    margin: 0 auto;
    height: 50vmax;
  }

  .header-title {
    visibility: hidden;
    position: absolute;
  }

  .list {
    float: none;
    text-align: center;
    margin: 3% auto;
    font-size: 2.6vmax;
    width: 90%;
  }

  .footer {
    visibility: hidden;
  }
}

@media screen and (max-width: 500px) {
  .project-details {
    height: 38vmax;
  }

  .jumbotron {
    background: url("../images/autumn-leaves-850.jpeg") center center no-repeat;
    background-size: 850px 100%;
  }
}