<div class="top rel">
  <h1 class="title"><span class="name rel">Nick Cantelmi</span></h1>
  <h3 class="description font-2">Full-Stack Web Developer</h3>
  <a href="images/cantelmi_nick_resume.pdf" download><button class="resume b-radius white m-top-p">Download Resume</button></a>

  <br>

</div>

<div class="arw-container c-100">
  <a class="arrows-link text-dec-none" href="#/projects/fitfriends"><span class="arrows left-arw">></span><span class="arrows middle-arw">></span><span class="arrows right-arw">></span></a>
  <h3 class="arrow-title">View my Projects</h3>
</div>