<div class="top rel">
  <h1 class="title"><span class="name rel t-shadow">Nick Cantelmi</span></h1>
  <h3 class="description font-2 t-shadow">Full-Stack Web Developer</h3>
  <a href="images/nick_cantelmi_resume.pdf" download><button class="resume b-radius white m-top-p">Download Resume</button></a>

  <br>

</div>

<div class="p-link-container c-100">
  <a class="projects-link text-dec-none rel" href="#/projects/fitfriends"><span class="curlies left-curly">{</span>View my Projects<span class="curlies right-curly">}</span></a>
</div>